<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dali的blog</title>
        <link rel="shortcut icon" href="./images/icon.jpg" type="image/x-icon"/>
        <link rel="stylesheet" href="./highlight.js/styles/github.css" type="text/css"/>
        <link rel="stylesheet" href="./styles/indexStyle.css" type="text/css"/>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>       
        <script src="./js/importNoteClient.js" async> </script>

    </head>
    <body>
        <div id= "outer">
            <div id="dhead">
                <div id="dheader2">
                    <div id="dheader3">
                        <nav id="return" >DaLi&Blog</nav>
                    </div>
                    <div id="dheader4">
                        <ul class="list1">
                            <li class='dir' v-for="item in dirs">
                                <a id='js-note' @click="changeList(item.name)">{{ item.dir }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="dbody">
                <nav id="list2" value='目录' >
                    <div class="innner" >
                        <li class="list2" v-for="item in list1" @click="loadData(item)"> {{ item }} </li>
                    </div>
                </nav>
                <section id="content" value="内容">
                    <div id="article" v-html="article" />
                </section>
                
            </div>
            <div id="dend">
                    <div id="dend1">
                        <span id="copy" style="font-family:arial;">Copyright &copy; 2019 &hearts; Dali</span>
                    </div>
            </div>
        </div>
    </body>
</html>