html{
    height:100%;
    font-size: 16px;
    font-family: Helvetica;
}
body{
    height:100%; 
}

#title{
    /* width: 1rem; */
    /* height: 2rem; */
    padding-top:2rem ;
    /* padding-left:40%; */
    margin: 0 0;
    font-size: 3.5rem;
    text-align: center;
    font-family: cursive;
    color: rgba(240, 118, 118, 0.986);
    font-weight: 800;
}

#todoList{
   /* position: relative; */
   
}
#head{
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 2rem;
   padding-bottom: 1rem;
   
}

#mainout{
    display: flex;
   align-items: center;
   justify-content: center;
}

#main{
    width: 37.4rem;
    /* padding-bottom: 0rem; */
    margin-bottom: 2rem;
    box-shadow: 0.5rem 0.5rem 2rem gray ;
}
#bottom{
    padding-left: 33%;
    height: 1.5rem;
}

#addbox{
    display: inline-block;
    width: 30rem;
    height: 3rem;
    margin-right: 0.3rem;
    font-size: 1.5rem;
    padding-left: 1rem;

}
#addbutton{
    display: inline-block;
    height: 3.316rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    border:0.1rem solid rgb(204, 203, 203);
    outline: none;
    
}
#addbutton:active {
    border-color: rgb(163, 163, 163);
}

#addbutton:hover{
    /* background-color: rgb(226,224, 224); */
    box-shadow: 0.2rem 0.2rem 0.2rem 0 rgba(114, 114, 114)
}



#container{
    display: flex;
    /* border-left: 1px solid rgb(216, 214, 214);
    border-right: 1px solid rgb(216, 214, 214); */
    border-bottom: 1px solid rgb(216, 214, 214);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* height: 1.8rem; */
}
/* #main #container:last-of-type{
    border-bottom:1px solid rgb(216, 214, 214);
} */

#check{
    zoom: 170%;
    /* margin-top: 0.5rem;  */
    margin-left: 1rem;
    /* float: left; */
    /* vertical-align: middle;  */
    /* left: 1 em; */
}
#item{
    /* display: flex; */
    position: relative;
    display: inline-block;
    width: 100%;
    padding-right: 0.5rem;
    word-wrap:break-word;
    white-space: pre-wrap;
    
    
}
#del{
    float: right;
    position: absolute;
    right: 0.4rem;
    bottom: 0rem;
    /* flex: 1; */
    display: none;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    color: rgb(194, 190, 190);
    /* margin-top: 0rem; 
    padding-top: 0rem; */
    /* padding-bottom: 0.5rem; */
    /* visibility: hidden; */
    outline: none;
}

#item:hover #del{
    /* visibility: visible; */
    display: inline;
}
#del:hover {
    color: rgb(122, 32, 103);
}

#dels{
    height: 2rem;
    font-size: 1rem;
    color: rgb(194, 190, 190);
    margin-right: 0.3rem;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background: transparent;
    outline: none;
}
#dels:hover{
    color: rgb(122, 32, 103);
}

#dels{
    margin-left: 4rem;
}

::-webkit-input-placeholder {
    font-style: italic;
    color: rgb(214, 211, 211);
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .complete{
     text-decoration-line: line-through;
     -webkit-text-decoration-line: line-through;
     color: rgb(167, 162, 162);
     font-style: italic;
 }
 #itemin{
     /* flex: 20; */
     /* user-modify: read-write-plaintext-only; */
     display: inline-block;
     width: 98%;
     /* margin-right:1rem; */
     padding-right: 0;
     font-size: 1.3rem;
     font-weight: 300;
     font-family:  "Microsoft Yahei";
     outline: none;
 }

 label{
     padding-right:2rem;
 }